.navbar-nav {
  display: flex;
  font-size: x-large;
  font-weight: bold; }

li {
  list-style: none;
  margin: 1rem; }

li a {
  text-decoration: none;
  font-size: 20rem;
  color: #a5370b; }

.header {
  box-shadow: 0 5px 10px -5px black; }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #a5370b;
  border: 1rem;
  padding: 3rem;
  box-shadow: 0 5px 10px 5px black; }

.footer__direcicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.footer__newsletter {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.footer__comprar {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  align-items: center; }

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.newsletter__submit {
  background: none;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
  outline: none; }

.newsletter__submit__texto {
  width: 100%;
  background: none;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none; }

input {
  justify-content: center; }

.newsletter__nombre {
  width: 100%;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border: 1px solid; }

.newsletter__email {
  width: 100%;
  border: 1px solid;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border: 1px solid; }

.newsletter__texto {
  width: 100%;
  border: 1px solid;
  color: black;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border: 1px solid; }

.card__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem; }

.card {
  margin-bottom: 1rem; }

@media (min-width: 320px) and (max-width: 540px) {
  .header {
    display: flex;
    flex-direction: column; }
  .footer {
    display: flex;
    flex-direction: column; }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    transform: scale(0.75); }
  .main__contactanos {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  font-family: helvetica; }

/* css header+nav */
h1 {
  align-items: center;
  font-weight: bold; }

h2 {
  color: black;
  text-align: center;
  font-size: 4rem;
  font-weight: bold; }

h3 {
  text-align: center;
  font-weight: bold; }

.visitanos {
  display: grid;
  grid-template-columns: 1fr 1fr; }

/* css contactos */
.main__contactanos {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.contactos {
  text-align: center;
  font-size: 45px; }

.contactos__titulo {
  padding: 3rem;
  text-align: center;
  font-size: 45px; }

.subtitulo {
  text-align: center;
  font-size: 35px; }

.subtitulo__text1 {
  text-align: justify;
  width: 600px;
  font-weight: bold; }

.subtitulo__text2 {
  text-align: justify;
  width: 600px;
  font-style: italic; }

/* css-visitanos */
.main__text {
  text-align: center;
  font-size: 35px; }

.visitanos {
  text-align: center;
  font-size: 45px; }

.visitanos__titulo {
  text-align: center;
  font-size: 25px; }

.visitanos__text2 {
  font-weight: bold;
  font-style: italic; }
