
.navbar-nav{
    display: flex;
    font-size: x-large;
    font-weight: bold;
}
li{
    list-style: none;
    margin:1rem
}
li a{
    text-decoration: none;
    font-size: 20rem;
    color:$color-secundario;
}   